@mixin screen{
    @media screen and (max-width: 768px){
        @content;
    }
}
.contener{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 46.875rem;
    @include screen{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }
    &__box1{
        width: 50%;
        @include screen{
            width: 100%;
            padding: 0;
        }
    }
    &__box1__paragraphe{
        padding: 0 5rem;
        text-align: center;
    }
    &__box2{
        display: flex;
        border: 1px gray solid;
        width: 40%;
        margin: 1.875rem;
        @include screen{
            width: 60%;
        }
    }
    &__box2__img{
        width: 100%;
    }
}


/* Apres avoir apris JS(nav burger+ pages contact)
.formulaire{
    display: none;
} */