.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;

    &__logo{
        padding-left: 1.5rem;
        }
    &__logo> img{
        width: 4.5rem;
    }
    &__list{
        display: flex;
        flex-direction: row;
        border: 1px solid black;
    }
    &__lien{
        font-family: var(--body-font);
        font-style: normal;
        font-weight: var(--body-font-weight);
        font-size: var(--body-font-size);
        line-height: var(--body-line-height);
        color: var(--body-color);
        padding: 24px;
        cursor: pointer;
        transform: scale(0.1);
        transition: transform 4000ms;
    }
    &__lien:hover{
        transform: scale(1.15);
        color: red;
    }
}
