h1{
    text-align: center;
    padding: 25px;
}
h2{
    text-align: center;
    padding: 25px;
}
.contenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box1{
    width: 50%;
}
.box2{
    display: flex;
    border: 1px gray solid;
    width: 40%;
    margin: 25px;
}
.box2 img{
    width: 100%;
}
.formulaire{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    padding: 15px;
    margin: 25px;
}
fieldset div{
    padding: 15px;
}
.element3{
    display: flex;
}
.element4{
    text-align: right;
}
@media screen and (max-width: 996px) {
.contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box1{
    width: 80%;
}
.box2{
    width: 60%;
}
}