h1{
    text-align: center;
    padding: 40px;
}
.contenu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box1{
    order: 2;
    padding: 80px;
    width: 60%;
}
.box1 h2{
    text-align: center;
    padding: 25px;
}
.box2{
    border: 2px gray solid;
    width: 60%;
}
.box2 img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.box3{
    /* border: 1px white solid; */
    width: 100%;
    height: 50%;
    order: 3;
}
.box3 img{
    width: 100%;
    height: 50%;
}
.lien_googleE{
    padding-top: 50px;
}
.bouton{
    background-color: skyblue;
    color: black;
    border-radius: 5px;
    padding: 5px;
}
.bouton:hover{
    background-color: rgb(95, 95, 117);
    color: white;
}
@media screen and (max-width: 996px){
    .box3{
        padding-top: 25px;
    }
    .bouton{
        padding: 0;
    }
    .lien_googleE{
        order: 4;
    }
}