.banniere_accueil{
    background-image: url('../image/fond_accueil.jpg');
    background-size: cover;
    background-position: center;
    padding: 365px;
}

.banniere_accueil h1{
    text-align: center;
    color: white;
    font-size: 3em;
}
