.banniere_accueil{
    background-image: url('../image/fond_accueil.jpg');
    width: 100%;
    height: 756px;
}

.banniere_accueil h1{
    text-align: center;
    color: white;
    font-size: 2em;
}
