body{
    background-color: black;
    font-size: 1.5em;
}
h1{
    color: white;
    font-size: 3em;
}
p {
    color: white;
    text-align: justify;
}
h2{
    color: white;
    font-size: 2.5em;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: blue;
}
a:active{
    background-color: green;
}
a:focus{
    background-color: green;
}
ul {
    color: white;
}
.entete {
    color:white ; 
    background-color:brown;
    font-size: 1em;
    text-align: left;
}
.logo_warning{
    width: 20px;
    height: 20px;
}
nav{
    
}
.navigateur{
    background-color: grey;
    padding: 5px;
    border-radius: 25px;
}
.banniere_accueil{
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 100px;
    background-image: url("image/19-0705634-6672e626a8126.png");
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
}
.sommaire{
    color: white;
    font-size: 2em;
}
#explorer{
    font-weight: bold;
}
video{
    height: 100%;
    width: 100%;
}
.icone{
    width: 25px;
    height: 25px;
}
.pied_de_page{
    text-align: justify;
}
section{
    margin-top: 0;
    padding: 5px;
    position: left;
    border: 1px white solid;
    width: 75%;
}
.bouton{
    background-color: azure;
    border-radius: 25px;
    color: black;
    padding: 10px;
}