

nav{
    background-color: gray;
   
    }
nav a{
    padding: 5px;
    color:black;
    font-size: 1.5em;
}
nav a:hover{
    color: bisque;
}

.nav_list{
    display: block;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer{
    background-color: gray;
}
.footer_box{
    display: flex;
    flex-direction: column;
}
footer div{
    text-align: center;
}
footer a img{
    width: 25px;
}
footer p{
    color: black;
    text-align: center;
}
@media screen and (max-width: 996px) {
    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .nav_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    nav{
        position:static;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
    }
}