@mixin screen{
    @media screen and (max-width: 768px){
        @content;
    }
}

a{
    color: green;
}
#ref{
    font-size: 1em;
    font-style: italic;
    @include screen{
        font-size: 0.75em;
    }
}