@mixin screen{
    @media screen and (max-width: 768px){
        @content;
    }
}

a{
    color: green;
}
.contenu_volcans{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    &__box1{
        width: 60%;
        padding: 5rem;
        @include screen{
            width: 80%;
            padding: 1.25rem;
        }
    }
    &__box2{
        border: 2px gray solid;
        width: 60%;
        @include screen{
            width: 80%;
        }
        & img{
            display: flex; 
            width: 100%;
        }
    }
}
#ref{
    font-size: 1em;
    font-style: italic;
    @include screen{
        font-size: 0.75em;
    }
}