@mixin screen{
    @media screen and (max-width: 768px){
        @content;
    }
}

.contenu_fond{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    &__box1{
        width: 60%;
        padding: 5rem;
        @include screen{
            width: 80%;
            padding: 1.25rem;
        }
    }
    &__box2{
        border: 2px gray solid;
        width: 60%;
        @include screen{
            width: 100%;
        }
        & img{
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    
}